body {
    /*background-color:#e6f7df ;*/
    font-family: monospace;
}

main {
    display: flex;
    flex-direction: row;
}

.divs {
    width: 50%;
    position: relative;
}

.divs:first-of-type img {
    width: 80%;
    height: 80vh;
    position: absolute;
    left: 10%;
    top: 10vh;
}

.inputs{
    height: 35px;
    width: 45%;
    border-radius: 20px;
    font-size: 15px;
    border: 2px solid black;
    color: black;
}

.div_2{
    position: relative;
    width: 100%;
}

.firt {
    font-size: 80px;
    text-align: center;
}

.one {
    margin: 0 auto;
    width: 80%;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.subDiv {
    width: 90%;
    margin: 0 auto;
}

.two {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* .two button {
    margin-left: 200px;
    margin-top: 50px;
} */

#botoncito {
    width: 200px;
    height: 35px;
    border: none;
    color: white;
    background-color: black;
    border-radius: 15px;
    font-size: 18px;
}
